.Carrousel{
   /*ancho del view port*/
    width: 100vw; 
    height: 100vh;
    background: black;
    overflow: hidden;
    position: relative;

}
.Carrousel_img{
    width: 100%;
    position: absolute;
    left: 0;

}

.Carrousel_Buttons{
    position: absolute;
    top: 0.5em;
    z-index: 10;
}
/*cuando se monta right*/
.slide-right-enter{
    position: absolute;
    transform: translateY(-100%);
    opacity: 0;

}
.slide-right-enter-active{
    position: absolute;
    transform: translateY(0%);
    transition: all 1s ease;
    opacity: 1;
}
/*cuando se desmonta*/
.slide-right-exit{
    position: absolute;
    transform: translateY(0%);
    opacity: 1;
}

.slide-right-exit-active{
    position: absolute;
    transform: translateY(100%);
    transition: all 1s ease;
    opacity: 0;

}

/*cuando se  monta left*/
.slide-left-enter{
    position: absolute;
    transform: translateY(100%);
    opacity: 0;

}
.slide-left-enter-active{
    position: absolute;
    transform: translateY(0%);
    transition: all 1s ease;
    opacity: 1;
}
/*cuando se desmonta*/
.slide-left-exit{
    position: absolute;
    transform: translateY(0%);
    opacity: 1;
}
.slide-left-exit-active{
    position: absolute;
    transform: translateY(-100%);
    transition: all 1s ease;
    opacity: 0;

}














